<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <h3>wikinimous</h3>
    <p><%= link_to 'create a new article', new_article_path %></p>
  </div>
    <%= yield %>
  </body>
</html>
